@import "variable";

body {
  font-family: "Microsoft Sans Serif";
  background-color: $bg-color;
}

.color-strip {
  flex-grow: 1;
  height: 7px;
}

.main-color {
  background-color: $main-color;
}

.secondary-color {
  background-color: $secondary-color;
}

.minor-color {
  background-color: $minor-color;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-style($width, $color) {
  border-left: $width $color solid;
}

@mixin icon($width, $height) {
  width: $width;
  height: $height;
}
