@import "variable";

.navigation {
  background: url(../images/bg-header.jpg);
  height: 130px;
  display: flex;
  justify-content: center;
  > div {
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    margin: auto;
    width: 930px;
  }
  #ngv-logo {
  }
  ul {
    display: inline-flex;
    margin: 0;
    li {
      width: 110px;
      height: 130px;
      text-align: center;
      a {
        width: 110px;
        height: 130px;
        color: $header-text-color;
        display: block;
        letter-spacing: .075em;
        line-height: 150px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 $header-text-shadow;
        &:hover {
          background: url(../images/bg-nav-selected.png) repeat-x;
          color: $header-text-hover-color;
        }
      }
    }
  }
}