$bg-color: #F5F5F3;
$main-color: #80A6AD;

$header-bg-color: #E6E7E9;
$header-baseline-color: #ACACAD;
$header-logo-text-color: #4E6779;
$header-btn-text-color: #9A9A9A;
$header-text-color: #787B66;
$header-text-shadow: #FFFFFF;
$header-text-hover-color: #1BB5AC;

$title-text-color: #E49E06;
$detail-text-color: #959595;

$copyright-text-color: #5BDEE6;

$main-width: 980px;