$bg-color: #E5E5E5;
$main-color: #80A6AD;

$main-text-color: #405357;
$minor-text-color: #9C9C9C;
$general-text-color: #FFFFFF;
$placeholder-text-color: #242D2E;

$footer-bg-color: #607D82;
$footer-text-color: #D6D6D6;

$copyright-bg-color: #5E5E5E;
$copyright-text-color: #CFCFCF;

$baseline-color: #607D82;
$slide-btn-color: rgba(237, 239, 240, 0.25);
$slide-btn-hover-color: rgba(118, 119, 120, 0.05);

$main-width: 980px;