$bg-color: #F5F5F3;
$main-color: #303132;
$minor-color: #D3D3D3;
$general-color: #FFFFFF;

$header-bg-color: #535151;
$slogan-bg-color: #E5E5E5;
$banner-info-bg-color: rgba(255, 255, 255, 0.5);

$main-width: 980px;