/* line 3, ../sass/public.scss */
body {
  font-family: "Microsoft Sans Serif";
  background-color: #000000;
}

/* line 8, ../sass/public.scss */
.align-center, .banner, .banner-info, .prd-items-img-mes {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 14, ../sass/public.scss */
.baseline {
  height: 1px;
  background-color: #FFFFFF;
}

/* line 19, ../sass/public.scss */
.text-overflow, .prd-items .prd-items-title, .prd-items .prd-items-info, .prd-items-img-mes .mes-title, .prd-items-img-mes .mes-info {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 4, ../sass/content.scss */
.wrapper {
  width: 100%;
}

/* line 8, ../sass/content.scss */
.banner {
  margin: auto;
  width: 980px;
  height: 500px;
  background: url(../images/84770f_3dede6ceda0447f587540d7250c63277.jpg) no-repeat;
}

/* line 16, ../sass/content.scss */
.banner-info {
  display: flex;
  align-content: space-evenly;
  width: 546px;
  height: 180px;
  flex-wrap: wrap;
}

/* line 25, ../sass/content.scss */
.content {
  width: 980px;
  margin: auto;
}

/* line 30, ../sass/content.scss */
.content-prd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

/* line 38, ../sass/content.scss */
.prd-items {
  flex-grow: 1;
  color: #FFFFFF;
  height: 430px;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
/* line 45, ../sass/content.scss */
.prd-items > img {
  height: 146px;
  margin-bottom: 20px;
}
/* line 49, ../sass/content.scss */
.prd-items .prd-items-title {
  width: 232px;
  white-space: nowrap;
  font-family: "anticregular";
  font-size: 28px;
  margin: 50px 0 20px 0;
}
/* line 57, ../sass/content.scss */
.prd-items .prd-items-info {
  margin-bottom: 34px;
  width: 232px;
  height: 100px;
  font-size: 14px;
  line-height: 1.5em;
}

/* line 67, ../sass/content.scss */
.prd-items-link {
  font-size: 14px;
  color: #BF9515;
  cursor: pointer;
}

/* line 73, ../sass/content.scss */
.prd-items-img-mes {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 232px;
  height: 146px;
  color: #FFFFFF;
  font-family: "anticregular";
  text-align: center;
  background-color: #BF9515;
}
/* line 85, ../sass/content.scss */
.prd-items-img-mes .mes-title {
  width: 100%;
  font-size: 36px;
}
/* line 90, ../sass/content.scss */
.prd-items-img-mes .mes-info {
  width: 100%;
  font-size: 22px;
}

/* line 97, ../sass/content.scss */
.reservation {
  display: block;
  justify-content: space-between;
  width: 100%;
  height: 230px;
}

/* line 104, ../sass/content.scss */
.reservation-title {
  padding: 6% 30% 1%;
  height: 30%;
  font-size: 36px;
  font-family: "anticregular";
  color: #FFFFFF;
}

/* line 112, ../sass/content.scss */
.reservation-selector {
  width: 100%;
  padding: 20px 0;
}
/* line 115, ../sass/content.scss */
.reservation-selector > select {
  -webkit-appearance: none;
  margin: 0 6px;
  text-indent: 14px;
  width: 165px;
  height: 40px;
  color: #FFFFFF;
  background: url(../images/down-arrow.svg) no-repeat 140px;
  background-size: 12px;
  border: 1px solid #FFFFFF;
}

/* line 128, ../sass/content.scss */
input[name="reservation-submit"] {
  width: 176px;
  height: 40px;
  border: none;
  color: #FFFFFF;
  background-color: #BF9515;
  cursor: pointer;
}

/* line 137, ../sass/content.scss */
.content-line {
  width: 100%;
}
