/* line 3, ../sass/public.scss */
body {
  font-family: "Microsoft Sans Serif";
  background-color: #000000;
}

/* line 8, ../sass/public.scss */
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 14, ../sass/public.scss */
.baseline {
  height: 1px;
  background-color: #FFFFFF;
}

/* line 19, ../sass/public.scss */
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 4, ../sass/footer.scss */
.footer {
  width: 100%;
  height: 354px;
}

/* line 9, ../sass/footer.scss */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0 auto;
  width: 980px;
  height: 354px;
}

/* line 18, ../sass/footer.scss */
.footer-items {
  flex-basis: 245px;
  height: 100px;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0;
  font-size: 16px;
  color: #BF9515;
}

/* line 28, ../sass/footer.scss */
.map-info {
  flex-grow: 2;
}

/* line 32, ../sass/footer.scss */
.item-title {
  height: 0;
  margin: 12px 0 46px 0;
}

/* line 37, ../sass/footer.scss */
.item-info {
  display: block;
  height: 100px;
  font-size: 14px;
  color: #FFFFFF;
}

/* line 44, ../sass/footer.scss */
.company-info {
  flex-grow: 2;
  font-size: 12px;
  color: #FFFFFF;
}

/* line 50, ../sass/footer.scss */
.social-link {
  width: 156px;
  display: inline-flex;
  justify-content: space-between;
}

/* line 56, ../sass/footer.scss */
.social-icon {
  width: 18px;
  height: 18px;
  margin: 8px 12px 8px 0;
  cursor: pointer;
}
