/* line 3, ../sass/public.scss */
body {
  font-family: "Microsoft Sans Serif";
  background-color: #000000;
}

/* line 8, ../sass/public.scss */
.align-center, .header, .header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 14, ../sass/public.scss */
.baseline {
  height: 1px;
  background-color: #FFFFFF;
}

/* line 19, ../sass/public.scss */
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 4, ../sass/header.scss */
.header {
  width: 100%;
  height: 180px;
}

/* line 10, ../sass/header.scss */
.header-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 980px;
}

/* line 18, ../sass/header.scss */
.home-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  height: 70px;
  width: 300px;
  font-size: 42px;
  font-family: "anticregular";
  text-align: center;
}
/* line 28, ../sass/header.scss */
.home-link a {
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 35, ../sass/header.scss */
.slogan {
  font-size: 18px;
  color: #FFFFFF;
}

/* line 40, ../sass/header.scss */
.header-line-l {
  width: 260px;
}

/* line 44, ../sass/header.scss */
.header-line-s {
  width: 240px;
}
