/* line 3, ../sass/navigation.scss */
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

/* line 10, ../sass/navigation.scss */
.nav-content {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 800px;
}
/* line 15, ../sass/navigation.scss */
.nav-content a {
  display: flex;
  text-align: center;
  font-family: "anticregular";
  color: #FFFFFF;
  text-decoration: none;
}
/* line 21, ../sass/navigation.scss */
.nav-content a:hover {
  color: #BF9515;
}
