/* line 3, ../sass/public.scss */
body {
  font-family: "Microsoft Sans Serif";
}

/* line 7, ../sass/public.scss */
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 13, ../sass/public.scss */
.baseline {
  height: 1px;
  background-color: #FFFFFF;
}
