/* line 3, ../sass/content.scss */
.wrapper {
  background-color: #F5F5F3;
}

/* line 7, ../sass/content.scss */
.prd {
  width: 900px;
  padding: 38px 0;
  margin: auto;
}

/* line 13, ../sass/content.scss */
.prd-item {
  height: 300px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 21, ../sass/content.scss */
.prd-item-container {
  height: 300px;
  width: 460px;
}

/* line 26, ../sass/content.scss */
.item-content {
  padding-top: 20px;
}

/* line 30, ../sass/content.scss */
.content-title {
  font-size: 20px;
  color: #E49E06;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 24px;
  text-align: right;
}

/* line 39, ../sass/content.scss */
.content-text {
  font-size: 12px;
  text-align: right;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #959595;
}
/* line 45, ../sass/content.scss */
.content-text a {
  color: #959595;
}

/* line 50, ../sass/content.scss */
.item-reverse {
  flex-direction: row-reverse;
}
/* line 52, ../sass/content.scss */
.item-reverse .content-title {
  text-align: left;
}
/* line 55, ../sass/content.scss */
.item-reverse .content-text {
  text-align: left;
}
