@import "variable";

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 800px;
  a {
    display: flex;
    text-align: center;
    font-family: "anticregular";
    color: $general-color;
    text-decoration:none;
    &:hover {
      color: $minor-color;
    }
  }
}