body {
  font-family: "Microsoft Sans Serif";
}

.align-center, .prd-item-a-show-btn div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#home-link {
  height: 24px;
  width: 88px;
  color: #405357;
  font-size: 21px;
  border-bottom: 3px solid #405357;
  cursor: pointer;
  text-align: center;
}
#home-link a {
  text-decoration: none;
  color: #405357;
}

.content {
  width: 100%;
  background-color: #E5E5E5;
}

.prd {
  max-width: 980px;
  margin: auto;
}

.prd-item-a {
  width: 100%;
  column-count: 2;
  column-gap: 0;
  margin-bottom: 14px;
}

.prd-item-a-show {
  width: 490px;
  height: 387px;
  background-color: #80A6AD;
  justify-content: start;
  align-items: center;
}
.prd-item-a-show p {
  width: 270px;
  color: #405357;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  padding-left: 40px;
}
.prd-item-a-show :first-child {
  padding-top: 50px;
}
.prd-item-a-show #create-link {
  height: 34px;
  color: white;
  font-weight: 100;
  font-size: 24px;
  border-bottom: 3px solid #607D82;
  margin: 14px 0 0 40px;
  padding-left: 0;
  cursor: pointer;
}

.prd-item-a-show-btn {
  width: 490px;
  height: 134px;
  position: absolute;
  margin-top: 125px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.prd-item-a-show-btn div {
  width: 32px;
  height: 100%;
  cursor: pointer;
  background-color: rgba(237, 239, 240, 0.25);
}
.prd-item-a-show-btn div:hover {
  background-color: rgba(118, 119, 120, 0.05);
}

.prd-item-b {
  width: 100%;
}

.prd-item-b-show-one, .prd-item-b-show-two {
  width: 100%;
  column-count: 3;
  justify-content: space-between;
}
.prd-item-b-show-one .items, .prd-item-b-show-two .items, .prd-item-b-show-one .items-type, .prd-item-b-show-two .items-type {
  float: left;
}
.prd-item-b-show-one .items-type, .prd-item-b-show-two .items-type {
  float: right;
}

.prd-item-b-show-two .items, .prd-item-b-show-two .items-type {
  float: right;
}
.prd-item-b-show-two .items-type {
  float: left;
}

.items, .items-type {
  margin-bottom: 18px;
  cursor: pointer;
}

.items-type {
  width: 314px;
  height: 170px;
  background-color: #80A6AD;
}
.items-type div {
  height: 50%;
  font-weight: 500;
  font-size: 44px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 62px;
}

.items-tooltip {
  position: absolute;
  height: 20px;
  padding: 13px 22px;
  color: #FFFFFF;
  background-color: #80A6AD;
}
